{% extends "base.html" %}

{% block head_title %}
    {{post.text}} by {{post.author.username}}
{% endblock head_title %}

{% block body %}
    {% include "includes/post.html" %}
    <h1 style="padding-top: 3rem; padding-bottom: 3rem;text-align:center;font-size:1.5rem">Comments:</h1>
    {% if comments %}
        {% for comment in comments %}
            {% include "includes/comments.html" with comment=comment %}
            <hr/>
        {% endfor %}
    {%endif%}
 
    <div class="comment-form" style="text-align: center;">
        {% if request.user.is_authenticated %}
            <form method='POST' action="{% url 'feed:detail' post.pk %}">
                {% csrf_token %}
                {{ comment_form }}
            
                <div class="m-3 mx-0" style="text-align: center;">
                    <button type="submit" class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
                        <span class="mr-2 text-sm">Create Comment</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentcolor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
                        </svg>
                    </button>
                </div>
             </form>
        {% endif %}
    </div>
    
    

{% endblock body %}