{% extends "base.html" %}

{% block head_title %}
    Post by your Following
{% endblock head_title %}

{% block body %}
    {% if friend_posts %}
        {% for post in friend_posts %}
            {% include "includes/post.html" with post=post  show_detail_link=True %}
            <hr/>
        {% endfor %}
    {% else %}
        <div class='text-center'>
            <p class='font-semibold text-red-500 text-4xl'>You Do not have any Following !!</p>
        </div> 
    {% endif %}
    
{% endblock  %}