{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Reset Password" %}{% endblock %}


{% block content %}

<p class='text-center mt-4 font-semibold'>{% blocktrans %}Reset your password to dont have trouble entering Whisp!{% endblocktrans %}</p>
    <div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
        <div class="p-10 xs:p-0 mx-auto w-full md:max-w-md">
            <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200 py-5">
                <form class="login text-center" method="post" action="{% url 'reset_password' %}">
                    {% csrf_token %}
                    <br>
                    {{ form.email.label_tag }}
                    <br>
                    {{ form.email  }}
                    <br>
                    {{ form.new_password.label_tag }}
                    {{ form.new_password }}
                    <br>
                    {{ form.confirm_new_password.label_tag }}
                    {{ form.confirm_new_password }}
                    <button class="primaryAction text-white mt-5 mb-4 bg-indigo-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">{% trans "Change Password" %}</button>
                </form>

                <div class="py-5">
                    <div class="grid grid-cols-2 gap-1">
                        <div class="text-center sm:text-left whitespace-nowrap">
                            <button onclick="window.location.href='/'" class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 inline-block align-text-top">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                                </svg>
                                <span class="inline-block ml-1">Back to Whisp feed</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}