<div class="flex flex-col items-center justify-center ml-56 ">
    <div class="max-w-2xl overflow-hidden max-h-xl my-4 bg-white rounded-lg shadow-md" style='width: 50rem;'>
        <img [src]="'http://vascomfaria.pythonanywhere.com'+(userProfile?.bg_image ?? BackGroundImage)" class="-mt-3" style='margin-bottom: -80px; max-height: 16rem; width: 100%; object-fit: cover;' alt="avatar" />
        <br>
        <br>
        <div class="flex justify-center -mt-8">
            <img [src]="'http://vascomfaria.pythonanywhere.com'+(userProfile?.image ?? ProfileImage)" class="rounded-full border-solid border-white border-2 -mt-3" alt="avatar" style="width: 150px; height: 150px;" />
        </div>
        <div class="mb-4">
            <label class="block text-lg font-medium text-black-600 text-center" style='font-size: 2rem;'>{{username}}</label>
        </div>
        <div class="flex items-center justify-center">
            <div *ngIf="userInfo && userInfo.date_joined !== ''" class="mb-4 px-10">
                <label for="text" class="block text-lg font-medium text-gray-600">Date Joined:</label>
                <label class="block text-lg text-grey-600 px-3 mt-1 p-2 border rounded-md w-full">{{ userInfo?.date_joined | date:'short' }}</label>
            </div>
            <div *ngIf="userInfo && userInfo.last_login !== ''" class="mb-4 px-10">
                <label for="text" class="block text-lg font-medium text-gray-600">Last Login:</label>
                <label class="block text-lg text-grey-600 px-3 mt-1 p-2 border rounded-md w-full">{{ userInfo?.last_login | date:'short' }}</label>
            </div>
        </div>
        <div *ngIf="userInfo && userInfo.first_name !== ''" class="mb-4 px-10">
            <label for="text" class="block text-lg font-medium text-gray-600">Name:</label>
            <label class="block text-lg text-grey-600 px-3 mt-1 p-2 border rounded-md w-full">{{ userInfo?.first_name }} {{ userInfo?.last_name }}</label>
        </div>
        <div *ngIf="userInfo && userInfo.email !== ''" class="mb-4 px-10">
            <label for="text" class="block text-lg font-medium text-gray-600">Email:</label>
            <label class="block text-lg text-grey-600 px-3 mt-1 p-2 border rounded-md w-full">{{ userInfo?.email }}</label>
        </div>
        <br>
    </div>
    <div class="max-w-2xl overflow-hidden max-h-xl my-4 bg-white rounded-lg shadow-md" style='width: 50rem;'>
        <br>
        <div *ngIf="userProfile?.biography !== ''" class="mb-4 px-10">
            <label for="text" class="block text-lg text-center font-medium text-gray-600">Biography</label>
            <label class="block text-lg text-grey-600 px-3 mt-1 p-2 border rounded-md w-full">{{ userProfile?.biography }}</label>
        </div>
        <div *ngIf="userProfile?.biography === ''" class="mb-4 px-10">
            <label for="text" class="block text-lg text-center font-medium text-gray-600">Biography</label>
            <label class="block text-lg text-grey-600 px-3 mt-1 p-2 border rounded-md w-full">This User doesn't have a Biography.</label>
        </div>
        <br>
    </div>
</div>

<div class="flex items-center justify-center ml-56">
    <div class="max-w-2xl max-h-xl px-10 my-4 py-6 rounded-lg bg-white shadow-md" style='width:50rem;'>
        <h1 class='text-black text-center text-4xl'>User Posts</h1>
    </div>
</div>

<div class="ml-56">
    <ng-container *ngIf="userposts.length > 0; else noPostsTemplate">
        <div *ngFor="let post of userposts">
            <ng-template [ngTemplateOutlet]="postTemplate" [ngTemplateOutletContext]="{post: post, showDetailLink: true}"></ng-template>
            <hr/>
        </div>
    </ng-container>

    <ng-template #noPostsTemplate>
        <div class="flex justify-center items-center text-center">
            <p class="text-2xl text-indigo-500 mb-20 mt-4">
                No posts available
            </p>
        </div>
    </ng-template>

    <ng-template #postTemplate let-post="post" let-showDetailLink="showDetailLink">
        <div class="flex justify-center" >
            <div class="max-w-2xl max-h-xl px-10 my-4 py-6 bg-white rounded-lg shadow-md" style='width:50rem;'>
                <div class="flex justify-between items-center w-full">
                    <span class="font-light text-gray-600">{{ post.date | date:'short' }}</span>
                </div>
                <div class="mt-2">
                    <p class="mt-3 text-gray-800 font-semibold text-lg">{{ post.text }}</p>
                    <ng-container *ngIf="post.image">
                        <img src="http://localhost:8000/{{ post.image }}" alt="Post Image" class="mt-3 max-w-full">
                    </ng-container>
                    
                    <ng-container *ngIf="post.video">
                        <video controls class="mt-3 max-w-full">
                        <source src="http://localhost:8000/{{ post.video }}" type="video/mp4">
                        Seu navegador não suporta a reprodução de vídeos.
                        </video>
                    </ng-container>
                </div>

                <div class="flex justify-between items-center mt-3">
                    <div class="ml-auto">
                        <a class="flex items-center" (click)="profile(post.author_username)">
                            <img [src]="'http://localhost:8000' + post.author_image" class='mx-4 w-10 h-10 object-cover rounded-full hidden sm:block' alt='avatar'>
                            <h1 class="text-gray-700 font-bold" style="margin-right: 1rem;">{{ post.author_username }}</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>


</div>


